@import 'tailwindcss';

@theme {
    --color-primary: #fcf9ea;
    --color-secondary: #badfdb;
    --color-accent: #ffa4a4;
    --color-muted: #ffbdbd;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: #242424;
    background-color: var(--color-primary);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
